.board{
    display: inline-grid;
    height: min-content;
    width: min-content;
    margin-left: 25px;
}

.field{
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 450px;
}

.fieldOwnerName{
    text-align: center;
    font-size: larger;
    color: #fff;
}

.square{
    background: #fff;
    border: 1px solid black;
    height: 43px;
    width: 43px;
}