.game{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

nav{
    margin-left: 38vw;
}

a{
    text-decoration:none;
    color:#fff;
    width:120px;
    display:inline-block;
    text-align:center;
    font-size: 20px;
    transition:all .33s linear;
    -webkit-transition:all .33s linear;
}

.line{
    width:120px;
    height:2px;
    background:#fff;
}

a:nth-child(1) ~ div{
    transition:all .33s linear;
    -webkit-transition:all .33s linear;
}

a:nth-child(2):hover ~ div {
    -webkit-transform:translate(120px);
    background:#fff;
}

a:nth-child(3):hover ~ div {
    -webkit-transform:translate(240px);
    background:#fff;
}