.playerField{
    display: flex;
    flex-wrap: wrap;
    height: min-content;
    width: 23%;
}

.playerSquare {
    background: #fff;
    border: 1px solid black;
    height: 30px;
    width: 30px;
}